#heading {
  text-align: center;
}
.lists {
  align-self: start;

  vertical-align: auto;
}
#text {
  margin-right: auto;
  margin-left: auto;
}
#button {
  background-color: #f91616; /* Green */
  /* border-color: #f91616; */
  border-width: 2px;
  /* width: fit-content; */
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  /* text-decoration: none; */
  display: inline-block;
  font-size: 16px;
  margin-top: 0px;
  width: 49%;
  display: block;
  border-radius: 10px;
  /*padding-top: 10px;*/
}
#button:hover {
  color: white;
  background-color: #cf0101;
}
#textarea {
  /* border-radius: 10px; */
}

.remove-todo {
  float: inline-end;
  cursor: pointer;
  color: red;
  font-weight: bold;
  /*padding-left: 10px;*/
}

#tasklist {
  margin-top: 10px;
  margin-right: 500px;
}
